body {
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  padding: 0;
  list-style: none;
}
